# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# database
Infrastructure/database/product_manager.db
Infrastructure/database/product_manager.db-journal
Infrastructure/database/product_manager.db-shm
databaseproduct_manager.db-wal

# docs
/docs
TODO.md