# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# database
infrastructure/database/coffee_manager.db
infrastructure/database/coffee_manager.db-journal
infrastructure/database/coffee_manager.db-shm
databasecoffee_manager.db-wal